.App {
	width: 100vw;
	height: 100vh;
	background-color: #444;
}

.palette-container {
	display: flex;
	justify-content: center;
}

.palette-tile {
	padding: 10px;
	text-align: center;
	background-color: #def;
}

.palette-tile.palette-tile-selected {
	background-color: #fff;
}

.palette-color {
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-family: 'monospace';
	font-weight: 700;
	color: rgba(255, 255, 255, 0.7);
}

.palette-num {
	padding-top: 6px;
}
