.App {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;
	background-color: #444;
}

.palette-container {
	position: absolute;
	width: 100vw;

	display: flex;
	justify-content: center;
	user-select: none;
}

.palette-tile {
	padding: 10px;
	text-align: center;
	background-color: #d3dce4;
}

.palette-tile:first-child {
	border-bottom-left-radius: 6px;
}

.palette-tile:last-child {
	border-bottom-right-radius: 6px;
}

.palette-tile.palette-tile-selected > .palette-color {
	border: 4px solid #fff;
	line-height: 56px;
	width: 56px;
	height: 56px;
}

.palette-color {
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-family: 'monospace';
	font-weight: 700;
	color: rgba(255, 255, 255, 0.7);
	border-radius: 6px;
	cursor: pointer;
}

.palette-num {
	padding-top: 6px;
}

.picker {
	position: absolute;
	left: 50vw;
	margin-left: -112px;
}

.grid {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid-row {
	display: flex;
	justify-content: center;
}

.grid-tile {
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.grid-tile:hover {
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	z-index: 1;

	transform: scale(1.04, 1.04);
	transition: transform 0.1s, box-shadow 0.1s;
}

.dimensions {
	position: absolute;
	bottom: 40px;
	width: 100vw;

	display: flex;
	direction: row;
	justify-content: center;
	align-items: center;
}

.dimensions > input {
	width: 40px;
	text-align: center;

	border: none;
}

.dimensions-separator {
	margin: 30px;
	color: white;
	font-weight: 700;
}
